extends layout

block content
    form(method='POST', enctype='multipart/form-data', action='upload')
        input(type='file', name='monfichier', mimetype="image/png", size="3000000")
        button  envoyer 
